
{% extends 'base.html.twig' %}

{% block title %}Arrivage{% endblock %}

{% block body %}

    <div class="content">
        <section class="main-header">
            <div class="title"><h1>ARRIVAGE</h1></div>
            <div class="user">
                <img id="user_photo"src="https://img.icons8.com/ios/452/user--v1.png" alt="">
                <div class="name"><span><span id="firstname"></span> <span id="lastname"></span></span> <a id="logout" href="/">Déconnection</a></div>
            </div>
        </section>
        <section class="nav">
            <div class="container-logo">
                <img src="https://communication.autobonplan.com/abp-home/img/Logo_Autobonplan.png" alt="">
            </div>
            <ul>
            </ul>
        </section>
        <div class="page-content">

                <figure class="highcharts-figure">
                    <div id="container" style="width:100%; height:400px;"></div>
                </figure>
                <table>
                    <thead>
                        <tr>
                            <th>Numéro d'arrivage</th>
                            <th>Marque</th>
                            <th>Modèle</th>
                            <th>Energie</th>
                            <th>Date de disponibilité</th>
                            <th>Fournnisseur</th>

                        </tr>
                    </thead>
                    <tbody>
                    {% for voiture in voitures %}
                        <tr>
                            <td>{{ voiture.numArrivage }}</td>
                            <td>{{ voiture.marque.nom }}</td>
                            <td>{{ voiture.modele }}</td>
                            <td>{{ voiture.energie }}</td>
                            <td>{{ voiture.dateDispo|date('d/m/Y') }}</td>
                            <td>{{ voiture.fournisseur }}</td>
                        </tr>
                    {% endfor %}
                    <tbody>
                </table>



        </div>
        <img src="{{ asset('test_arrivages.jpg') }}" alt="">
    </div>

{% endblock %}
