
{% extends 'base.html.twig' %}

{% block title %}Arrivage{% endblock %}

{% block body %}

                <div>
                    <canvas id="myChart"></canvas>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Numéro d'arrivage</th>
                            <th>Marque</th>
                            <th>Modèle</th>
                            <th>Energie</th>
                            <th>Date de disponibilité</th>
                            <th>Fournnisseur</th>

                        </tr>
                    </thead>
                    <tbody>
                    {% for voiture in voitures %}
                        <tr>
                            <td>{{ voiture.numArrivage }}</td>
                            <td>{{ voiture.marque.nom }}</td>
                            <td>{{ voiture.modele }}</td>
                            <td>{{ voiture.energie.nom }}</td>
                            <td>{{ voiture.dateDispo|date('d/m/Y') }}</td>
                            <td>{{ voiture.fournisseur }}</td>
                        </tr>
                    {% endfor %}
                    <tbody>
                </table>

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>let myChart = new Chart(
            document.getElementById('myChart'),
            config = {
                type: 'bar',
                data: {
                    labels: [
                        'Janvier',
                        'Janvier',
                        'Janvier',
                        'Janvier',
                        'Janvier',
                        'Janvier',
                        'Janvier',
                        'Janvier',
                        'Janvier',
                        'Janvier',
                        'Janvier',
                        'Janvier',
                    ],
                    datasets: [{
                        label: 'My First dataset',
                        backgroundColor: {{ voituresColor|raw }},
                        data: [1, 3, 5, 7, 2, 9, 5, 10],
                    }]
                },

                options: {}
            }
        );</script>
{% endblock %}
