
{% extends 'base.html.twig' %}

{% block title %}Arrivage{% endblock %}

{% block body %}

    <div>
        <canvas id="myChart"></canvas>
    </div>
    <div class="table-responsive" id="table">
        <p>Il y a {{ count }} voitures enregistrées.</p>
        <table>
            <thead>
                <tr>
                    <th>Numéro d'arrivage</th>
                    <th>Marque</th>
                    <th>Modèle</th>
                    <th>Energie</th>
                    <th>Date de disponibilité</th>
                    <th>Fournnisseur</th>
                </tr>
            </thead>
            <tbody>
            {% for voiture in voitures %}
                <tr>
                    <td>{{ voiture.numArrivage }}</td>
                    <td>{{ voiture.marque.nom }}</td>
                    <td>{{ voiture.modele }}</td>
                    <td>{{ voiture.energie.nom }}</td>
                    <td>{{ voiture.dateDispo|date('d/m/Y') }}</td>
                    <td>{{ voiture.fournisseur }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>let myChart = new Chart(
            document.getElementById('myChart'),
            config = {
                type: 'bar',
                data: {
                    labels: {{ dates|raw }},
                    datasets: [
                        {
{#                    {% for marque in marques %}#}
                            label: 'voitures',
                            backgroundColor: '#0f5f9a',
                            data: {{ voitureCount|raw }},
                        },
{#                    {% endfor %}#}
                    ]
                },
                options: {
                    responsive: true,
                    interaction: {
                        intersect: false,
                    },
                    scales: {
                        x: {
                            stacked: true,
                        },
                        y: {
                            stacked: true
                        }
                    }
                }
            }
        );</script>
{% endblock %}
